spring:
  application:
    name: auth-service
  data:
    mongodb:
      host: auth-mongodb
      username: user
      password: ${MONGODB_PASSWORD}
      database: money-management
      port: 27017
  mail:
    host: smtp.gmail.com
    port: 465
    username: moneymanagement94
    password: MoneyManagement94
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          ssl:
            enable: true
  rabbitmq:
    host: rabbitmq
  main:
    allow-bean-definition-overriding: true

server:
  servlet:
    context-path: /uaa
  port: 5000

logging:
  level:
    org.springframework.security: INFO

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://registry:8761/eureka/

security:
  oauth2:
    resource:
      user-info-uri: http://auth-service:5000/uaa/users/current

verification:
  email:
    subject: "Verification email"
    text: "Hello, \n Bellow you have the email verification address. \n  {0} \r\n\r\nCheers,\r\nMoney Management team"
    url: "http://localhost:80/uaa/users/verification?token="

forgot-password:
  email:
    subject: "Forgot Password email"
    text: "Hello, \n Bellow you have the link to reset your password, \n {0} \r\n\r\nCheers,\r\nMoney Management team"
    url: "http://localhost:4200/reset-password?token="

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000
