spring:
  application:
    name: notification-service
  data:
    mongodb:
      host: notification-mongodb
      username: user
      password: ${MONGODB_PASSWORD}
      database: money-management
      port: 27017
  mail:
    host: smtp.gmail.com
    port: 465
    username: moneymanagement94
    password: MoneyManagement94
    properties:
      mail:
        smtp:
          auth: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          ssl:
            enable: true
  rabbitmq:
    host: rabbitmq
  main:
    allow-bean-definition-overriding: true

security:
  oauth2:
    client:
      clientId: notification-service
      clientSecret: ${NOTIFICATION_SERVICE_PASSWORD}
      accessTokenUri: http://auth-service:5000/uaa/oauth/token
      grant-type: client_credentials
      scope: server
    resource:
      user-info-uri: http://auth-service:5000/uaa/users/current

server:
  servlet:
    context-path: /notifications
  port: 8000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://registry:8761/eureka/

remind:
  cron: 0 0 0 * * *
  email:
    text: "Hey, {0}! We''ve missed you here on Money Management. It''s time to check your budget statistics.\r\n\r\nCheers,\r\nMoney Management team"
    subject: Money Management reminder

backup:
  cron: 0 0 12 * * *
  email:
    text: "Howdy, {0}. Your account backup is ready.\r\n\r\nCheers,\r\nMoney Management team"
    subject: Money Management account backup
    attachment: backup.json

logging:
  level:
    org.springframework.security: INFO

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000