<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/"><img src="../../assets/img/logo.svg" alt="Logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#pricing" class="scroll">Pricing</a></li>
        <li><a href="#sing-up" class="scroll">Sign in</a></li>
      </ul>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="/"><img src="../../assets/img/logo.svg" alt="Logo"></a>
      </div>
      <div class="col-xs-6 signin text-right navbar-nav">
        <a href="#pricing" class="scroll">Pricing</a>&nbsp; &nbsp;<a href="#sing-up" class="scroll">Sign in</a>
      </div>
    </div>

    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 [@showMessage1]>A free landing page theme</h1>
        <br/>
        <p class="lead" [@showMessage2]>Lorem ipsum dolor sit amet, consectetur adipis. <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit sit dol mi arlna.</p>
        <br/>

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-6 text-right" [@showLearnMore]>
                <a href="#be-the-first" class="btn btn-secondary btn-lg scroll">Learn More</a>
              </div>
              <div class="col-xs-6 text-left" [@showSingUp]>
                <a href="#sing-up" class="btn btn-primary btn-lg scroll">Sing up</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="mouse-icon hidden-xs">
  <div class="scroll"></div>
</div>

<section id="be-the-first" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
        <h2>Be the first</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipis.</p>
      </div>
    </div>

    <div class="iphone wow fadeInUp" data-wow-delay="1s">
      <img src="../../assets/img/iphone.png">
    </div>
  </div>
</section>

<section id="main-info" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="0.4s">
        <i class="fa fa-search fa-main-info margin-40 purple"></i>
        <h2 class="black">Get the invite</h2>
        <hr class="line purple">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
          elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
      <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="0.8s">
        <i class="fa fa-money fa-main-info margin-40 blue"></i>
        <h2 class="black">Get the invite</h2>
        <hr class="line blue">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
          elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
      <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="1.2s">
        <i class="fa fa-lock fa-main-info margin-40 yellow"></i>
        <h2 class="black">Get the invite</h2>
        <hr class="line yellow">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
          elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
    </div>
  </div>
</section>


<!-- Video -->

<section id="video" class="video-dark text-center">
  <video class="video" controls poster="../../assets/img/developer.png" data-setup='{}'>
    <source src="//vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
    <source src="//vjs.zencdn.net/v/oceans.webm" type='video/webm'>
  </video>
</section>

<!--Pricing-->
<section id="pricing" class="pad-lg">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="white">Pricing</h2>
        <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.</p>
      </div>
    </div>

    <div class="row margin-50">

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
        <br/>
        <ul class="list-unstyled pricing-table text-center">
          <li class="headline"><h5 class="white">Personal</h5></li>
          <li class="price">
            <div class="amount">$5
              <small>/m</small>
            </div>
          </li>
          <li class="info">2 row section for you package information. You can include all details or icons
          </li>
          <li class="features first">Up To 25 Projects</li>
          <li class="features">10GB Storage</li>
          <li class="features">Other info</li>
          <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
        </ul>
      </div>

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
        <ul class="list-unstyled pricing-table active text-center">
          <li class="headline"><h5 class="white">Professional</h5></li>
          <li class="price">
            <div class="amount">$12
              <small>/m</small>
            </div>
          </li>
          <li class="info">2 row section for you package information. You can include all details or icons
          </li>
          <li class="features first">Up To 25 Projects</li>
          <li class="features">10GB Storage</li>
          <li class="features">Other info</li>
          <li class="features">Other info</li>
          <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
        </ul>
      </div>

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
        <br/>
        <ul class="list-unstyled pricing-table text-center">
          <li class="headline"><h5 class="white">Business</h5></li>
          <li class="price">
            <div class="amount">$24
              <small>/m</small>
            </div>
          </li>
          <li class="info">2 row section for you package information. You can include all details or icons
          </li>
          <li class="features first">Up To 25 Projects</li>
          <li class="features">10GB Storage</li>
          <li class="features">Other info</li>
          <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section id="sing-up" class="pad-sm light-gray-bg">
  <app-login></app-login>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 margin-20">
        <ul class="list-inline social">
          <li>Connect with us on</li>
          <li><a href="#" class="fa fa-social fa-twitter"></a></li>
          <li><a href="#" class="fa fa-social fa-facebook"></a></li>
          <li><a href="#" class="fa fa-social fa-instagram"></a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-right">
        <p>
          <small>Copyright &copy; 2018. All rights reserved. <br>
            Created by <a href="http://visualsoldiers.com">Money Management</a></small>
        </p>
      </div>
    </div>
  </div>
</footer>