# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
Money-Management.iml
account-service/account-service.iml
auth-service/auth-service.iml
config/config.iml
gateway/gateway.iml
monitoring/monitoring.iml
notification-service/notification-service.iml
registry/registry.iml
statistics-service/statistics-service.iml

# compiled output
user-interface/dist
user-interface/dist-server
user-interface/tmp
user-interface/out-tsc

# dependencies
user-interface/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
