<div id="add-modal">
    <div class="modal-content">
        <div class="modal-title mainmodaltitle">Add Income</div>
        <mat-form-field class="form-field modalvalue">
            <mat-icon matPrefix>attach_money</mat-icon>
            <input matInput value="0" maxlength="12" class="form-control" autocomplete="off" name="modalvalue"
                   data-a-sep=" " data-v-min="0" data-v-max="999999999" data-l-zero="deny"/>
        </mat-form-field>
        <div class="modal-selects">
            <mat-form-field class="modal-currency">
                <mat-select>
                    <mat-option [value]="'RON'">Ron</mat-option>
                    <mat-option [value]="'USD'">Dollars</mat-option>
                    <mat-option [value]="'EUR'">Euro</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="modal-period">
                <mat-select>
                    <mat-option [value]="'YEAR'">Per year</mat-option>
                    <mat-option [value]="'QUARTER'">Per quarter</mat-option>
                    <mat-option [value]="'MONTH'">Per month</mat-option>
                    <mat-option [value]="'DAY'">Per day</mat-option>
                    <mat-option [value]="'HOUR'">Per hour</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field class="form-field modaltitle">
            <input matInput name="modaltitle" placeholder="Title" autocomplete="off" maxlength="18">
        </mat-form-field>
        <div class="close modal-close" (click)="onCloseClick()">
            <div class="modal-close-icon close-icon">
            </div>
            <div class="modal-close-text close-text">
                CLOSE
            </div>
        </div>
    </div>
</div>