<div class="container">
    <div class="sidenav">
        <div class="add" (click)="navigateToAccount()">
            <img src="../../assets/img/add.svg">
            <div class="add-text">
                ADD
            </div>
        </div>
        <div class="settings" (click)="navigateToSettings()">
            <img src="../../assets/img/settings.svg">
            <div class="settings-text">
                SETTINGS
            </div>
        </div>
        <div class="logout" (click)="logout()">
            <img src="../../assets/img/logout.svg">
            <div class="logout-text">
                OUT
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns col-sm-12 col-md-4 date-column">
            <mat-form-field>
                <input matInput [matDatepicker]="startDatePicker" placeholder="Start date" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker startView="year"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [matDatepicker]="endDatePicker" placeholder="End date" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker startView="year"></mat-datepicker>
            </mat-form-field>
            <br>
            <div class="search" (click)="search()">
                <img src="../../assets/img/update.svg">
                <span>SEARCH</span>
            </div>
        </div>
        <div class="columns col-sm-12 col-md-8">
            <ngx-charts-line-chart
                    [view]="lineChartView"
                    [scheme]="colorScheme"
                    [results]="lineChartResults"
                    [gradient]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Date'"
                    [yAxisLabel]="'Value'"
                    (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>
        <div class="columns col-sm-12 col-md-6">
            <div class="incomes-sprite-title pie-chart-title">INCOMES</div>
            <ngx-charts-advanced-pie-chart
                    [view]="pieChartView"
                    [scheme]="colorScheme"
                    [results]="incomesPieChartResults">
            </ngx-charts-advanced-pie-chart>
        </div>
        <div class="columns col-sm-12 col-md-6">
            <div class="expenses-sprite-title pie-chart-title">EXPENSES</div>
            <ngx-charts-advanced-pie-chart
                    [view]="pieChartView"
                    [scheme]="colorScheme"
                    [results]="expensePieChartResults">
            </ngx-charts-advanced-pie-chart>
        </div>
    </div>
</div>