.add {
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.add:hover, .logout:hover {
    opacity: 1;
}

.add-icon:before, .add-icon:after, .logout-icon:before, .logout-icon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.add-icon:before {
    transform: rotate(90deg);
}

.add-icon:after {
    transform: rotate(0deg);
}

.add-text {
    margin-top: 40px;
    text-align: center;
    font-size: 10px;
}

.logout-text-up {
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    left: 5px;
}

.logout-text-down {
    top: 20px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 5px;
}

.logout-icon:before {
    transform: rotate(90deg);
}

.logout-icon:after {
    transform: rotate(-90deg);
}

.logout {
    position: absolute;
    cursor: pointer;
    right: 32px;
    bottom: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}