<div class="add" (click)="navigateToAccount()">
    <div class="add-icon">
    </div>
    <div class="add-text">
        ADD
    </div>
</div>

<div class="logout" (click)="logout()">
    <div class="logout-text-up">
        LOG
    </div>
    <div class="logout-icon">
    </div>
    <div class="logout-text-down">
        OUT
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="columns col-sm-12 col-md-4 date-column">
            <mat-form-field>
                <input matInput [matDatepicker]="startDate" placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate startView="year"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [matDatepicker]="endDate" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate startView="year"></mat-datepicker>
            </mat-form-field>
            <br>
            <div class="search" (click)="search()">
                <img src="../../assets/img/update.svg">
                <span>SEARCH</span>
            </div>
        </div>
        <div class="columns col-sm-12 col-md-8">
            <ngx-charts-line-chart
                    [view]="lineChartView"
                    [scheme]="colorScheme"
                    [results]="lineChartResults"
                    [gradient]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Date'"
                    [yAxisLabel]="'Value'"
            (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>
        <div class="columns col-sm-12 col-md-6">
            <div class="incomes-sprite-title pie-chart-title">INCOMES</div>
            <ngx-charts-advanced-pie-chart
                    [view]="pieChartView"
                    [scheme]="colorScheme"
                    [results]="incomesPieChartResults">
            </ngx-charts-advanced-pie-chart>
        </div>
        <div class="columns col-sm-12 col-md-6">
            <div class="expenses-sprite-title pie-chart-title">EXPENSES</div>
            <ngx-charts-advanced-pie-chart
                    [view]="pieChartView"
                    [scheme]="colorScheme"
                    [results]="expensePieChartResults">
            </ngx-charts-advanced-pie-chart>
        </div>
    </div>
</div>