#minus {
    right: 20px;
    top: 10px;
    margin: auto;
    text-transform: uppercase;
    font-size: 10px;
    color: #c8c2c4;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

#minus:hover {
    color: #a39b9d;
}

#minusborder {
    position: absolute;
    border: 1px solid #c8c2c4;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 80%;
}

#minusone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #c8c2c4;
    width: 50%;
    height: 1px;
}

#minustext {
    width: 70px;
    text-align: center;
    font-family: Arial;
    left: -18px;
    right: 0;
    bottom: -17px;
    margin: auto;
    position: absolute;
}