<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="../../assets/img/logo.svg" alt="Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#pricing" class="scroll">Pricing</a></li>
                <li><a href="#sing-up" class="scroll">Sign in</a></li>
            </ul>
        </div>
    </div>
</div>

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="/"><img src="../../assets/img/logo.svg" alt="Logo"></a>
            </div>
            <div class="col-xs-6 signin text-right navbar-nav">
                <a href="#pricing" class="scroll">Pricing</a>&nbsp; &nbsp;<a href="#sing-up" class="scroll">Sign in</a>
            </div>
        </div>

        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn">A free landing page theme</h1>
                <br/>
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipis. <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sit dol mi arlna.</p>
                <br/>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                                <a href="#be-the-first" class="btn btn-secondary btn-lg scroll">Learn More</a>
                            </div>
                            <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                                <a href="#sing-up" class="btn btn-primary btn-lg scroll">Sing up</a>
                            </div>
                        </div><!--End Button Row-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="mouse-icon hidden-xs">
    <div class="scroll"></div>
</div>

<section id="be-the-first" class="pad-xl">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Be the first</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipis.</p>
            </div>
        </div>

        <div class="iphone wow fadeInUp" data-wow-delay="1s">
            <img src="../../assets/img/iphone.png">
        </div>
    </div>
</section>

<section id="main-info" class="pad-xl">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="0.4s">
                <i class="fa fa-search fa-main-info margin-40 purple"></i>
                <h2 class="black">Get the invite</h2>
                <hr class="line purple">
                <h3>App Feature One Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
                    elementum mi volutpat. Pellentesque ac tristique nisi.</p>
            </div>
            <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="0.8s">
                <i class="fa fa-money fa-main-info margin-40 blue"></i>
                <h2 class="black">Get the invite</h2>
                <hr class="line blue">
                <h3>App Feature One Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
                    elementum mi volutpat. Pellentesque ac tristique nisi.</p>
            </div>
            <div class="col-sm-4 wow fadeIn text-center" data-wow-delay="1.2s">
                <i class="fa fa-lock fa-main-info margin-40 yellow"></i>
                <h2 class="black">Get the invite</h2>
                <hr class="line yellow">
                <h3>App Feature One Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu
                    elementum mi volutpat. Pellentesque ac tristique nisi.</p>
            </div>
        </div>
    </div>
</section>


<!-- Video -->

<section id="video" class="video-dark text-center">
    <video class="video" controls poster="../../assets/img/developer.png" data-setup='{}'>
        <source src="//vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
        <source src="//vjs.zencdn.net/v/oceans.webm" type='video/webm'>
    </video>
</section>

<!--Pricing-->
<section id="pricing" class="pad-lg">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="white">Pricing</h2>
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.</p>
            </div>
        </div>

        <div class="row margin-50">

            <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
                <br/>
                <ul class="list-unstyled pricing-table text-center">
                    <li class="headline"><h5 class="white">Personal</h5></li>
                    <li class="price">
                        <div class="amount">$5
                            <small>/m</small>
                        </div>
                    </li>
                    <li class="info">2 row section for you package information. You can include all details or icons
                    </li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
                </ul>
            </div>

            <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
                <ul class="list-unstyled pricing-table active text-center">
                    <li class="headline"><h5 class="white">Professional</h5></li>
                    <li class="price">
                        <div class="amount">$12
                            <small>/m</small>
                        </div>
                    </li>
                    <li class="info">2 row section for you package information. You can include all details or icons
                    </li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features">Other info</li>
                    <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
                </ul>
            </div>

            <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
                <br/>
                <ul class="list-unstyled pricing-table text-center">
                    <li class="headline"><h5 class="white">Business</h5></li>
                    <li class="price">
                        <div class="amount">$24
                            <small>/m</small>
                        </div>
                    </li>
                    <li class="info">2 row section for you package information. You can include all details or icons
                    </li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features last btn btn-secondary btn-wide"><a href="#">Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="sing-up" class="pad-sm light-gray-bg">
    <div class="container login-container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center wow fadeInUp" data-wow-delay="0.5s">
                <div id="flipper" [@flipState]="flip">
                    <div class="front-card">
                        <h2 class="black">Login</h2>
                        <br/>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                                <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm" autocomplete="off">
                                    <div class="form-group">
                                        <mat-form-field class="form-field">
                                            <mat-icon matPrefix>email</mat-icon>
                                            <input matInput placeholder="Email" formControlName="email" type="email"
                                                   class="form-control" autocomplete="off">
                                            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                                                This is required.
                                            </mat-error>
                                            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                                                Please enter a valid email address.
                                            </mat-error>
                                            <mat-error *ngIf="loginForm.get('email')?.hasError('maxlength')">
                                                The email must be maximum 64 characters long.
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="form-field">
                                            <mat-icon matPrefix>vpn_key</mat-icon>
                                            <input matInput placeholder="Password" formControlName="password"
                                                   [type]="hidePassword1 ? 'password': 'text'"
                                                   class="form-control" autocomplete="off">
                                            <button mat-icon-button matSuffix
                                                    [matTooltip]="(hidePassword1 ? 'Show' : 'Hide') + ' Password'"
                                                    (click)="hidePassword1 = !hidePassword1">
                                                <mat-icon>{{hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This is
                                                required.
                                            </mat-error>
                                            <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
                                                The password must be maximum 40 characters long.
                                            </mat-error>
                                            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                                                The password must be at least 6 characters long.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="space">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                                [disabled]="loginForm.invalid">Login
                                        </button>
                                        <button (click)="toggleFlip()" class="btn btn-primary btn-lg">Create Account
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="back-card">
                        <h2 class="black">Create Account</h2>
                        <br/>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                                <form (ngSubmit)="onSubmitCreateAccount()" [formGroup]="createAccountForm"
                                      autocomplete="off">
                                    <div class="form-group">
                                        <mat-form-field class="form-field">
                                            <mat-icon matPrefix>email</mat-icon>
                                            <input matInput placeholder="Email" formControlName="email" type="email"
                                                   class="form-control" autocomplete="off">
                                            <mat-error *ngIf="createAccountForm.get('email')?.hasError('required')">
                                                This is required.
                                            </mat-error>
                                            <mat-error *ngIf="createAccountForm.get('email')?.hasError('email')">
                                                Please enter a valid email address.
                                            </mat-error>
                                            <mat-error *ngIf="createAccountForm.get('email')?.hasError('maxlength')">
                                                The email must be maximum 64 characters long.
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="form-field">
                                            <mat-icon matPrefix>vpn_key</mat-icon>
                                            <input matInput placeholder="Password" formControlName="password"
                                                   [type]="hidePassword2 ? 'password': 'text'"
                                                   class="form-control" autocomplete="off">
                                            <button mat-icon-button matSuffix
                                                    [matTooltip]="(hidePassword2 ? 'Show' : 'Hide') + ' Password'"
                                                    (click)="hidePassword2 = !hidePassword2">
                                                <mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-error *ngIf="createAccountForm.get('password')?.hasError('required')">
                                                This is required.
                                            </mat-error>
                                            <mat-error *ngIf="createAccountForm.get('password')?.hasError('maxlength')">
                                                The password must be maximum 40 characters long.
                                            </mat-error>
                                            <mat-error *ngIf="createAccountForm.get('password')?.hasError('minlength')">
                                                The password must be at least 6 characters long.
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="form-field">
                                            <mat-icon matPrefix>vpn_key</mat-icon>
                                            <input matInput placeholder="Repeat Password"
                                                   formControlName="repeatPassword"
                                                   [type]="hidePassword3 ? 'password': 'text'"
                                                   class="form-control" autocomplete="off">
                                            <button mat-icon-button matSuffix
                                                    [matTooltip]="(hidePassword3 ? 'Show' : 'Hide') + ' Password'"
                                                    (click)="hidePassword3 = !hidePassword3">
                                                <mat-icon>{{hidePassword3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-error
                                                    *ngIf="createAccountForm.get('repeatPassword')?.hasError('required')">
                                                This is required.
                                            </mat-error>
                                            <mat-error
                                                    *ngIf="createAccountForm.get('repeatPassword')?.hasError('maxlength')">
                                                The password must be maximum 40 characters long.
                                            </mat-error>
                                            <mat-error
                                                    *ngIf="createAccountForm.get('repeatPassword')?.hasError('minlength')">
                                                The password must be at least 6 characters long.
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="space">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                                [disabled]="createAccountForm.invalid">Submit
                                        </button>
                                        <button (click)="toggleFlip()" class="btn btn-primary btn-lg">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.7s">
        <h3 class="middle-text black"><span>OR</span></h3>
    </div>
    <div class="container wow fadeInUp" data-wow-delay="1s">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a href="#" class="fa fa-social fa-facebook"></a>
                <a href="#" class="fa fa-social fa-twitter"></a>
                <a href="#" class="fa fa-social fa-google-plus"></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 margin-20">
                <ul class="list-inline social">
                    <li>Connect with us on</li>
                    <li><a href="#" class="fa fa-social fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-social fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-social fa-instagram"></a></li>
                </ul>
            </div>

            <div class="col-sm-4 text-right">
                <p>
                    <small>Copyright &copy; 2018. All rights reserved. <br>
                        Created by <a href="http://visualsoldiers.com">Money Management</a></small>
                </p>
            </div>
        </div>
    </div>
</footer>