spring:
  application:
      name: statistics-service
  data:
    mongodb:
      host: statistics-mongodb
      username: user
      password: ${MONGODB_PASSWORD}
      database: money-management
      port: 27017
  rabbitmq:
    host: rabbitmq

server:
  servlet:
    context-path: /statistics
  port: 7000

security:
  oauth2:
    client:
      clientId: statistics-service
      clientSecret: ${STATISTICS_SERVICE_PASSWORD}
      accessTokenUri: http://auth-service:5000/uaa/oauth/token
      grant-type: client_credentials
      scope: server
    resource:
      user-info-uri: http://auth-service:5000/uaa/users/current

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://registry:8761/eureka/

logging:
  level:
    org.springframework.security: INFO

rates:
  url: http://data.fixer.io/api/latest?access_key=3d07e82c993b66c9c2a85c1312e9105c