@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ==========================================================================
   Global styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
    font-family: 'Montserrat', sans-serif;
}

p, .lead {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    etter-spacing: -0.5px;
    color: #ffffff;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #231f20;
    font-weight: 700;
}

.lead {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

p {
    font-size: 17px;
    line-height: 22px;
    color: #929496;
    font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -10%;
}

::selection {
    background: #231f20; /* Safari */
    color: #FFFFFF;
}

::-moz-selection {
    background: #231f20; /* Firefox */
    color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

/*------------------Buttons---------------------*/
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.btn {
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.btn-lg {
    font-size: 13px;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-sm {
    font-size: 11px;
    line-height: 1.33;
    padding: 10px 18px;
    font-weight: 400;
}

.btn-wide {
    width: 100%;
    font-size: 13px;
    line-height: 1.33;
    padding: 18px 28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #1E90FF;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #2EAAFF;
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-secondary {
    background-color: #ffffff;
    color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #ededed;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}

.margin-10 {
    margin-bottom: 10px !important;
}

.margin-15 {
    margin-bottom: 15px !important;
}

.margin-20 {
    margin-bottom: 20px !important;
}

.margin-30 {
    margin-bottom: 30px !important;
}

.margin-40 {
    margin-bottom: 40px !important;
}

.margin-50 {
    margin-bottom: 50px !important;
}

.margin-60 {
    margin-bottom: 60px !important;
}

.margin-70 {
    margin-bottom: 70px !important;
}

.margin-80 {
    margin-bottom: 80px !important;
}

.margin-90 {
    margin-bottom: 90px !important;
}

.margin-100 {
    margin-bottom: 100px !important;
}

/*-----------------Colors------------------*/

.black {
    color: #231f20;
}

.blue {
    color: #1E90FF;
}

.white {
    color: #ffffff;
}

.black-bg {
    background: #231f20;
}

.blue-bg {
    background: #1E90FF;
}

.white-bg {
    background: #ffffff;
}

.purple-bg {
    background: #6d3f96;
}

/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0 solid rgba(0, 0, 0, 0);
    background: #1E90FF;
    margin: auto;
    min-height: 60px;
    padding-top: 8px;
    position: fixed;
    top: -60px;
    transition: top 0.4s ease 0s;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1E90FF;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
    height: 50px;
    padding-bottom: 10px;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
.header {
    background: url(assets/img/header-bg.jpeg) no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header-info {
    margin-top: 20%;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-bottom: 12%;
}

.signin {
    padding-top: 9px;
}

.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
}

.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}

.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 5px;
    }
    30% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

.pad-xl {
    padding: 200px 0px;
}

.pad-lg {
    padding: 160px 0px;
}

.pad-sm {
    padding: 80px 0px;
}

.pad-xs {
    padding: 30px 0px;
}

#be-the-first {
    background: url(assets/img/be-the-first-bg.jpg) #231f20 no-repeat center center fixed;
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr.line {
    width: 100%;
    border: 2px solid;
}

.purple {
    border-color: #6d3f96;
    color: #6d3f96;
}

.blue {
    border-color: #1E90FF;
    color: #1E90FF
}

.yellow {
    border-color: #fdc05d;
    color: #fdc05d;
}

.iphone {
    position: relative;
    height: 200px;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 800px;
}

#sing-up {
    background: #f2f2f2;
}

.news-container {
    padding: 10px 0px 20px;
    border-bottom: 1px dotted #d9d9d9;
}

.news-img {
    padding-right: 20px;
}

footer {
    background: #ffffff;
    padding: 40px 0px;
}

/*---------------Pricing Tables-------------------*/

#pricing {
    background: #1E90FF;
}

.pricing-container {
    padding-left: 0px;
    padding-right: 0px;
}

.pricing-table {
    background: transparent;
    margin-bottom: 50px;
    margin-top: 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.pricing-table.active {
    box-shadow: 0px 0px 12px rgba(41, 46, 50, 0.6);
    position: absolute;
    margin: auto;
    z-index: 200;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pricing-table:hover {
    margin-top: -10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.pricing-table li {
    padding-left: 20px;
    padding-right: 20px;
}

.headline {
    background: #231f20;
    color: #FFFFFF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price {
    background: none repeat scroll 0 0 #231f20;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pricing-table:hover li.price {
    background: #303236;
    -webkit-transition: all 0.85s ease-in-out;
    -moz-transition: all 0.85s ease-in-out;
    -o-transition: all 0.85s ease-in-out;
    transition: all 0.85s ease-in-out;
}

.price small {
    font-weight: 300;
    color: #929496;
}

.info {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 13px;
    color: #929496;
    background: #ffffff;
}

.features {
    color: #231f20;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #E8EAEA;
    background: #ffffff
}

.features.first {
    border-top: 1px dotted #E8EAEA;
}

.features.last {
    padding-top: 17px;
    padding-bottom: 20px;
}

.features.last a {
    color: #1E90FF;
    font-size: 14px;
    letter-spacing: 1px;
}

.pricing-container .btn {
    border-radius: 0;
}

/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

    .btn-lg {
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }

    .btn-wide {
        width: 100%;
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }

    #be-the-first {
        background-attachment: scroll;
    }

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

    #be-the-first {
        background-attachment: scroll;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

    #be-the-first {
        background-attachment: scroll;
    }

}

/***** Video ******/

.video-dark {
    color: #fff;
    background-color: #312f38 !important
}

.video {
    background-color: #424753;
    position: relative;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    font-family: Raleway, sans-serif;
    line-height: 1.1538;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.mat-form-field-infix {
    padding: 0 !important;
    border-top: 5px solid transparent !important;
}

.mat-form-field-outline {
    background-color: white !important;
    border-radius: 5% !important;
}

.mat-input-element, .mat-input-element:focus {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: 20px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-color: #1E90FF;
}

input.mat-input-element {
    margin-top: 1px;
    margin-bottom: 2px;
}

.space input, .space button {
    margin: 10px;
}

.login-container {
    height: 500px;
}

.middle-text {
    text-align: center;
    border: 0;
    border-top: 2px solid #dedede;
    line-height: 0.1em;
    margin: 20px 10%;
}

.middle-text span {
    background: #f2f2f2;
    padding: 0 10px;
}

.fa-social {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-google-plus:hover {
    background: #dd4b39;
    color: white;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}

.fa-main-info {
    font-size: 40px;
    display: block;
    padding-top: 15px;
    width: 60px;
    height: 60px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: auto;
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
}

.front-card, .back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.front-card {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back-card {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.form-field {
    width: 100%;
}

.logout, .add, .close-button {
    right: 32px;
    position: fixed;
    cursor: pointer;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.close-button span {
    right: 5px;
    position: relative;
}

.logout {
    bottom: 40px;
}

.logout img {
    height: 40px;
}

.add {
    top: 32px;
}

.add img {
    height: 40px;
}

.close-button {
    bottom: 32px;
}

.add:hover, .logout:hover, .close-button:hover {
    opacity: 1;
}

.add-icon:before, .add-icon:after,
.logout-icon:before, .logout-icon:after,
.close-button-icon:before, .close-button-icon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #333;
}

.add-icon:before {
    transform: rotate(90deg);
}

.add-icon:after {
    transform: rotate(0deg);
}

.add-text, .close-button-text {
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
}

.modal-close {
    top: 80% !important;
    right: 35% !important;
    height: 40px !important;
    width: 40px !important;
}

.modal-add {
    top: 81%;
    position: absolute;
    left: 35%;
    width: 70px;
    height: 40px;
    opacity: 0.3;
    cursor: pointer;
}

.modal-add:hover {
    opacity: 1;
}

.modal-close-icon:after, .modal-close-icon:before {
    height: 60px !important;
    width: 4px !important;
}

.modal-close-icon:before {
    -webkit-transform: rotate(60deg) !important;
    transform: rotate(60deg) !important;
}

.modal-close-icon:after {
    -webkit-transform: rotate(-60deg) !important;
    transform: rotate(-60deg) !important;
}

.modal-add-icon .plusitemone {
    width: 100% !important;
}

.modal-add-icon .plusitemtwo {
    width: 5px !important;
    height: 100% !important;
}

.modal-close-text,
.modal-add-text {
    right: 1px;
    position: absolute;
    margin-top: 50px;
    font-weight: 700;
    line-height: 1;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff;
}

.modal-close-text {
    font-size: 15px !important;
}

.modal-add-text {
    top: -5px !important;
    font-size: 16px !important;
}

.logout-text {
    text-align: center;
    font-size: 15px;
    position: absolute;
    padding-left: 10px;
}

.tick {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.tick img {
    width: 40px;
    height: 40px;
}

.tick:hover {
    opacity: 1;
}

.search {
    width: 40px;
    height: 40px;
    left: 90px;
    top: 15px;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
}

.search:hover {
    opacity: 1;
}

.search img {
    margin-left: 7px;
    width: 40px;
    height: 40px;
}

.itembackground {
    background-size: 1031px 42px;
    width: 42px;
    height: 42px;
}

.incomes-sprite-title, .expenses-sprite-title, .savings-sprite-title {
    background-size: 538px 84px;
    position: absolute;
    cursor: pointer;
    top: -4px;
}

.incomes-sprite-title {
    background-position: 0 -60px;
    width: 108px;
    height: 24px;
    left: 35%;
    cursor: pointer;
    font-size: 20px;
}

.expenses-sprite-title {
    background-position: -114px -60px;
    width: 114px;
    height: 24px;
    left: 35%;
    cursor: pointer;
    font-size: 20px;
}

.savings-sprite-title {
    background-position: -233px -60px;
    width: 164px;
    height: 24px;
    left: 30%;
    font-size: 20px;
}

.blueline {
    background-color: black;
    position: absolute;
    top: 47px;
    width: 95%;
    height: 1px;
}

.account-columns {
    text-transform: uppercase;
    margin-top: 10%;
    padding: 15px;
    height: 600px;
}

/* =============== SAVINGS SLIDER =============== */

#piggyicon {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 50px;
}

#topsavingsline {
    position: relative;
    display: block;
    width: 100%;
    height: 190px;
}

#bottomsavingsline {
    position: relative;
    display: block;
    width: 100%;
    height: 92px;
}

.form-savings {
    margin-top: 70px;
}

.savingsvalue, .savingsvalue:hover, .savingsvalue:focus {
    font-size: 30px !important;
    height: 40px !important;
}

mat-icon.savingsvalue {
    width: 30px !important;
}

#rublesign {
    cursor: pointer;
    background-size: 538px 84px;
    display: inline-block;
    width: 22px;
    height: 31px;
    position: relative;
    z-index: 1000;
}

#rublebox {
    top: 135px;
    width: 30%;
    height: 40px;
    left: 0;
    position: relative;
    display: inline-block;
}

/* TOGGLES */
#deposit + label.button {
    position: absolute;
    top: 16px;
}

#capitalization + label.button {
    position: absolute;
    bottom: -100px;
}

input#deposit, input#capitalization {
    max-height: 0;
    max-width: 0;
    display: none;
}

input#deposit + label.button, input#capitalization + label.button {
    display: block;
    position: absolute;
    right: 32px;
    box-shadow: inset 0 0 0px 1px #e3e3e3;
    height: 21px;
    width: 33px;
    border-radius: 15px;
}

input#deposit + label.button:before, input#capitalization + label.button:before {
    content: "";
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    top: 0;
    left: 0;
    border-radius: 15px;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

input#deposit + label.button:after, input#capitalization + label.button:after {
    content: "";
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px #e0e0e0, 1px 1px 2px #ebebeb;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

/* END OF TOGGLES */

input#deposit:checked + label.button:before, input#capitalization:checked + label.button:before {
    width: 33px;
    height: 21px;
    background: gainsboro;
    box-shadow: inset 0 0 0 1px black;
}

input#deposit:checked + label.button:after, input#capitalization:checked + label.button:after {
    left: 13px;
    box-shadow: inset 0 0 0 1px black, 1px 1px 1px black;
}

#deposit:checked ~ .savingscapital, #deposit:checked ~ .savingspercent, #deposit:checked ~ input#percentvalue {
    color: #4b4b4b;
}

.savingstitle14 {
    font-size: 14px;
    color: #4b4b4b;
    position: absolute;
    left: 30%;
    top: 60px;
}

.savingstitle12 {
    font-size: 13px;
    color: black;
    position: absolute;
    left: 30%;
    top: 84px;
}

.savingsdeposit {
    font-size: 12px;
    color: #4b4b4b;
    position: absolute;
    left: 25px;
    top: 20px;
}

.savingscapital, .savingspercent {
    font-size: 12px;
    color: #b5b5b5;
    position: absolute;
}

.savingscapital {
    left: 25px;
    bottom: -100px;
}

.savingspercent {
    left: 25px;
    bottom: 20px;
}

/* =============== INCOMES SLIDER =============== */
#noincomes, #noexpenses {
    width: 110px;
    height: 110px;
    position: absolute;
    display: block;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    opacity: 0.3;
}

#noexpenses:hover, #noincomes:hover {
    opacity: 1;
}

.hoverplace {
    display: block;
    width: 100%;
    height: 100%;
}

.hoverplace:hover ~ .plusitemtitle, .majorplusitem:hover ~ .plusitemtitle, .plusitemtitle:hover {
    color: black;
}

.majorplusitem {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: block;
    width: 75px;
    height: 75px;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    -ms-transition: 150ms;
    transition: 150ms;
}

.plusitemtitle {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #4b4b4b;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
}

#incomeup, #incomedown {
    font-size: 12px;
    color: black;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 90px;
    height: 12px;
    cursor: pointer;
    text-align: center;
    opacity: 0.3;
}

#incomeup {
    left: 63%;
}

#incomedown {
    left: 35%;
}

#incomedown:hover, #incomeup:hover {
    opacity: 1;
}

#incomeslider {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    position: absolute;
    margin: auto;
    width: 100%;
}

/* =============== EXPENSE SLIDER =============== */

.plusitem {
    top: -8px;
    left: 9%;
    margin: auto;
    position: absolute;
    cursor: pointer;
    width: 33px;
    height: 33px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    -ms-transition: 150ms;
    transition: 150ms;
    opacity: 0.3;
}

.plusitem:hover {
    opacity: 1;
}

.plusitemone, .plusitemtwo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
}

.plusitemone {
    width: 70%;
    height: 3px;
}

.plusitemtwo {
    width: 3px;
    height: 70%;
}

#expenseup, #expensedown {
    font-size: 12px;
    color: black;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 90px;
    height: 12px;
    cursor: pointer;
    text-align: center;
    opacity: 0.3;
}

#expenseup {
    left: 63%;
}

#expensedown {
    left: 35%;
}

#expensedown:hover, #expenseup:hover {
    opacity: 1;
}

.frame {
    position: relative;
    text-align: left;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#expenseslider {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    position: absolute;
    margin: auto;
    width: 100%;
}

.itembackground {
    display: block;
    position: relative;
    top: -26px;
    left: 25px;
}

.incomeitem, .expenseitem {
    -webkit-transition: 350ms ease-out;
    -moz-transition: 350ms ease-out;
    -o-transition: 350ms ease-out;
    -ms-transition: 350ms ease-out;
    transition: 350ms ease-out;
    background-position: 25px center;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    height: 70px;
    z-index: 500;
    cursor: pointer;
    overflow: hidden;
}

.incomeitem:hover, .expenseitem:hover {
    background-color: #fbfbfb;
}

.incomeitem:active, .expenseitem:active {
    background-color: #f7f7f7;
}

.title11museo300 {
    font-size: 14px;
    color: #676767;
    position: relative;
    left: 35%;
    top: 12px;
}

.title9museo300 {
    font-size: 9px;
    color: #676767;
    position: relative;
    left: 35%;
    top: 20px;
}

.bolddigit20 {
    font-size: 20px;
    color: #111;
}

.lightdigit20 {
    font-size: 20px;
    color: #111;
}

.lighttitle20 {
    height: 40px;
    font-size: 20px;
    color: #4b4b4b;
    position: absolute;
    left: 35%;
    cursor: pointer;
}

#expenseslider, #incomeslider {
    -webkit-animation: 1s frameanimate ease-out;
    -moz-animation: 0.8s frameanimate ease-out;
    -o-animation: 0.8s frameanimate ease-out;
    -ms-animation: 0.8s frameanimate ease-out;
    animation: 0.8s frameanimate ease-out;
}


#add-modal {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 530px;
    z-index: 2000;
    opacity: 1;
}

.modal-content {
    text-align: center;
    text-transform: uppercase;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 480px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-60deg);
    -moz-transform: rotateY(-60deg);
    -ms-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-title {
    font-weight: 400;
    font-size: 30px;
    color: #242424;
    position: absolute;
    width: 300px;
    height: 20px;
    margin: auto;
    right: 0;
    left: 0;
    top: 20px;
}

.modalvalue {
    top: 78px;
    font-size: 40px;
    width: 70%;
}

.modaltitle {
    top: 3px;
    width: 50%;
    font-size: 20px;
    padding-left: 40px;
}

.modal-icon {
    padding-right: 40px;
    width: 300px;
}

.mat-option-text img {
    height: 30px;
    width: 30px;
}

.modal-selects {
    z-index: 2000;
    text-transform: lowercase;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
}

.modal-selects-currency {
    top: 180px;
}

.modal-selects-title {
    top: 250px;
}

.modal-currency {
    padding-right: 50px;
}

.modal-currency .mat-form-field-flex {
    height: 50px;
    width: 200px;
}

.modal-period .mat-form-field-flex {
    height: 50px;
    width: 400px;
}

.modal-selects .mat-select-value {
    font-size: 35px;
}

.modal-selects .mat-select-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
    margin-right: 10px;
}

.container-account {
    margin-bottom: 150px;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 9px;
    bottom: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 6px;
    bottom: 18px;
}

.modal-content .mat-input-element {
    height: 55px;
    font-size: 40px !important;
    padding-left: 60px !important;
}

.modal-content .mat-form-field-prefix .mat-icon {
    font-size: 120%;
}

.mat-select-panel {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: rgba(0, 0, 0, .87) !important;
}

.mat-option-text {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.125;
    text-transform: lowercase;
    font-size: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 100% !important;
}

.item-image {
    width: 40px;
    position: relative;
    left: 15%;
    top: 15px;
}

.item-information {
    width: 87%;
    position: relative;
    float: right;
}

ngx-charts-legend {
    display: block !important;
    margin-left: 40%;
}

.pie-chart-title {
    top: 50px;
}

.date-column {
    padding-bottom: 70px;
    padding-top: 100px;
}

.sidenav {
    height: 100%;
    width: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #efefef;
    overflow-x: hidden;
    transition: 0.5s;
}

.pad-sig-in {
    padding-right: 70px;
    padding-left: 70px;
}