<div class="tick" (click)="saveAccount()">
    <img src="../../assets/img/tick.svg">
    <span>SAVE</span>
</div>

<div class="close" (click)="navigateToStatistics()">
    <div class="close-icon">
    </div>
    <div class="close-text">
        CLOSE
    </div>
</div>

<div id="settingspage" class="container container-account">
    <div class="row">
        <div class="columns col-sm-12 col-md-4">
            <div class="incomes-sprite-title zoomplus incomebutton">INCOMES</div>
            <div id="noincomes" class="incomebutton" (click)="openAddIncome()" *ngIf="account.incomes.length == 0">
                <div class="hoverplace"></div>
                <div class="majorplusitem">
                    <div class="plusitemborder"></div>
                    <div class="plusitemone"></div>
                    <div class="plusitemtwo"></div>
                </div>
                <span class="plusitemtitle">Add income</span>
            </div>
            <div class="plusitem" id="incomesplusitem" (click)="openAddIncome()">
                <div class="plusitemborder incomebutton"></div>
                <div class="plusitemone"></div>
                <div class="plusitemtwo"></div>
            </div>
            <div class="blueline"></div>
            <div id="incomedown" (click)="incomeDown()">
                <i class="arrow up"></i>
                forth
            </div>
            <div id="incomeup" (click)="incomeUp()">
                <i class="arrow down"></i>
                back
            </div>
            <div class="frame" id="incomeframe">
                <div id="incomewrapper" class="wrapper">
                    <div id="incomeslider">
                        <div *ngFor="let income of account.incomes; let i = index" (click)="openUpdateIncome(i)"
                             class="incomeitem">
                            <span class="title11museo300">{{income.title}}</span>
                            <p class="title9museo300">
                                <span class="bolddigit20">{{income.amount}} </span>
                                <span class="lightdigit20">{{income.currency + ' - ' + income.period}}</span>
                            </p>
                            <div class="itembackground"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns col-sm-12 col-md-4">
            <div class="expenses-sprite-title zoomplus">EXPENSES</div>
            <div id="noexpenses" (click)="openAddIncome()" *ngIf="account.expenses.length == 0">
                <div class="hoverplace"></div>
                <div class="majorplusitem">
                    <div class="plusitemborder"></div>
                    <div class="plusitemone"></div>
                    <div class="plusitemtwo"></div>
                </div>
                <span class="plusitemtitle">Add expense</span>
            </div>
            <div class="plusitem" id="expensesplusitem" (click)="openAddExpense()">
                <div class="plusitemborder"></div>
                <div class="plusitemone"></div>
                <div class="plusitemtwo"></div>
            </div>
            <div class="blueline"></div>
            <div id="expensedown" (click)="expenseDown()">
                <i class="arrow up"></i>
                forth
            </div>
            <div id="expenseup" (click)="expenseUp()">
                <i class="arrow down"></i>
                back
            </div>
            <div class="frame" id="expenseframe">
                <div id="expensewrapper" class="wrapper">
                    <div id="expenseslider">
                        <div *ngFor="let expense of account.expenses; let i = index" (click)="openUpdateExpense(i)"
                             class="expenseitem">
                            <span class="title11museo300">{{expense.title}}</span>
                            <p class="title9museo300">
                                <span class="bolddigit20">{{expense.amount}} </span>
                                <span class="lightdigit20">{{expense.currency + ' - ' + expense.period}}</span>
                            </p>
                            <div class="itembackground"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns col-sm-12 col-md-4">
            <div class="savings-sprite-title">SAVINGS</div>
            <div class="blueline"></div>
            <div id="topsavingsline">
                <div id="piggyicon"></div>
                <span class="savingstitle14">My spare money</span>
                <span class="savingstitle12">At the moment</span>
                <div id="rublebox"></div>
                <div id="rublesign"></div>
                <mat-form-field class="form-field form-savings">
                    <mat-icon matPrefix class="savingsvalue">attach_money</mat-icon>
                    <input matInput value="0" maxlength="12" autocomplete="off" name="savingsvalue"
                           data-a-sep=" " data-v-min="0" data-v-max="999999999" data-l-zero="deny" class="form-control savingsvalue"
                           [(ngModel)]="account.saving.amount"/>
                </mat-form-field>
            </div>
            <div id="bottomsavingsline">
                <input type="checkbox" name="deposit" id="deposit" [(ngModel)]="account.saving.deposit">
                <label for="deposit" class="button"></label>
                <label for="deposit" class="savingsdeposit">Accumulation account</label>
                <span class="savingspercent">Interest</span>
                <input type="text" name="percentvalue" id="percentvalue" data-a-sep="" data-v-min="0.00"
                       data-v-max="99.99"
                       data-l-zero="deny" data-a-sign=" %" data-w-empty="sign" data-p-sign="s" maxlength="5"
                       data-a-pad="false" size="6" data-a-dec="." autocomplete="off"
                       [(ngModel)]="account.saving.interest">
                <input type="checkbox" name="capitalization" id="capitalization"
                       [(ngModel)]="account.saving.capitalization">
                <label for="capitalization" class="button"></label>
                <label for="capitalization" class="savingscapital">Monthly capitalization</label>
            </div>
        </div>
    </div>
</div>