<div class="close" (click)="navigateToStatistics()">
    <div class="close-icon">
    </div>
    <div class="close-text">
        CLOSE
    </div>
</div>

<div id="settingspage" class="container">
    <div class="row">
        <div class="columns col-sm-12 col-md-4">
            <div class="incomes-sprite-title zoomplus incomebutton">INCOMES</div>
            <div id="noincomes" class="incomebutton">
                <div class="hoverplace"></div>
                <div class="majorplusitem">
                    <div class="plusitemborder"></div>
                    <div class="plusitemone"></div>
                    <div class="plusitemtwo"></div>
                </div>
                <span class="plusitemtitle">Add income</span>
            </div>
            <div class="plusitem" id="incomesplusitem">
                <div class="plusitemborder incomebutton"></div>
                <div class="plusitemone"></div>
                <div class="plusitemtwo"></div>
            </div>
            <div class="blueline"></div>
            <div id="incomedown">
                <div class="arrowup"></div>
                forth
            </div>
            <div id="incomeup">
                <div class="arrowdown"></div>
                back
            </div>
            <div class="frame">
                <div id="incomewrapper" class="wrapper">
                    <div id="incomeslider"></div>
                </div>
            </div>
        </div >
        <div class="columns col-sm-12 col-md-4">
            <div class="expenses-sprite-title zoomplus">EXPENSES</div>
            <div id="noexpenses">
                <div class="hoverplace"></div>
                <div class="majorplusitem">
                    <div class="plusitemborder"></div>
                    <div class="plusitemone"></div>
                    <div class="plusitemtwo"></div>
                </div>
                <span class="plusitemtitle">Add expense</span>
            </div>
            <div class="plusitem" id="expensesplusitem">
                <div class="plusitemborder"></div>
                <div class="plusitemone"></div>
                <div class="plusitemtwo"></div>
            </div>
            <div class="blueline"></div>
            <div id="expensedown">
                <div class="arrowup"></div>
                forth
            </div>
            <div id="expenseup">
                <div class="arrowdown"></div>
                back
            </div>
            <div class="frame">
                <div id="expensewrapper" class="wrapper">
                    <div id="expenseslider"></div>
                </div>
            </div>
        </div>
        <div class="columns col-sm-12 col-md-4">
            <div class="savings-sprite-title">SAVINGS</div>
            <div class="blueline"></div>
            <div id="topsavingsline">
                <div id="piggyicon"></div>
                <span class="savingstitle14">My spare money</span>
                <span class="savingstitle12">At the moment</span>
                <div id="rublebox"></div>
                <div id="rublesign"></div>
                <input type="text" name="savingsvalue" id="savingsvalue" data-a-sep=" " data-v-min="0"
                       data-v-max="999999999" data-l-zero="deny" maxlength="12" autocomplete="off">
            </div>
            <div id="bottomsavingsline">
                <input type="checkbox" name="deposit" id="deposit">
                <label for="deposit" class="button"></label>
                <label for="deposit" class="savingsdeposit">Accumulation account</label>
                <span class="savingspercent">Interest</span>
                <input type="text" name="percentvalue" id="percentvalue" data-a-sep="" data-v-min="0.00" data-v-max="99.99"
                       data-l-zero="deny" data-a-sign=" %" data-w-empty="sign" data-p-sign="s" maxlength="5"
                       data-a-pad="false" size="6" data-a-dec="." autocomplete="off">
                <input type="checkbox" name="capitalization" id="capitalization">
                <label for="capitalization" class="button"></label>
                <label for="capitalization" class="savingscapital">Monthly capitalization</label>
            </div>
        </div>
    </div>
</div>